body {
  background: #f0f0f0;
}

.App {
  display: flex;
  height: 100vh;
}

.candidates {
  height: 100vh;
  overflow-y: auto;
}

.candidate {
  display: flex;
  margin: 20px;
  border: 1px solid #d1d1d1;
  background: #f2f2f2;
  border-radius: 5px;
  min-height: 100px;
  color: #424242;
  text-decoration: none;
}

.candidate.selected {
  background: white;
  border-color: #2793e6;
}

.candidate.selected:hover {
  background: white;
  border: 1px solid #2793e6;;
}

.candidate:hover {
  cursor: pointer;
  background: #f7f7f7;
  border: 1px solid #868686;;
}

.candidate .candidate-summary {
  align-self: center;
  padding: 10px;
  line-height: 20px;
}

.candidate .candidate-summary .top {
  font-weight: bold;
}

.candidate .candidate-summary .keywords {
  margin-top: 5px;
}

.candidate-img {
  width: 80px;
  border-radius: 40px;
  margin: 10px 8px 10px 16px;
  height: 80px;
  border: 1px solid #dcdcdc;
  align-self: center;
  box-shadow: 0px 1px 4px 1px rgba(187, 187, 187, 0.8);
}

.candidate .keyword {
    border: 1px solid hsl(206, 29%, 67%);
    border-radius: 3px;
    line-height: 15px;
    padding: 3px 9px;
    color: #2793e6;
    font-size: 12px;
    font-weight: bold;
    margin-right: 10px;

    float: left;
    word-break: keep-all;
    margin-bottom: 4px;
}

.candidate .keyword:hover {
  background: hsla(206, 79%, 94%, 1);
  cursor: pointer;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0 0 400px;
}

.searchbar {
  flex: 0 0 30px;
  padding-top: 5px;
  background: #633375;
}

.searchbar input {
  width: calc(100% - 70px);
  line-height: 20px;
  background: hsla(284, 39%, 37%, 1);
  border: 1px solid hsla(284, 39%, 37%, 1);
  border-radius: 5px;
  font-size: 14px;
  padding-left: 10px;
  margin: 0 20px;
  display: block;
  color: hsla(284, 39%, 85%, 1);
}

.searchbar input:focus {
  border: 1px solid hsla(284, 39%, 45%, 1);
  /* background: hsla(284, 39%, 47%, 1); */
  outline: none;
}

.searchbar input::placeholder {
  color: hsla(284, 39%, 85%, 1);
}
