body {
  background: #f0f0f0;
}

.App {
  display: flex;
}

.candidates {
  flex: 0 0 400px;
  height: 100vh;
  overflow-y: auto;
}

.candidate {
  display: flex;
  margin: 20px;
  border: 1px solid #d1d1d1;
  background: #f6f6f6;
  border-radius: 5px;
  height: 100px;
  color: #424242;
  text-decoration: none;
}

.candidate.selected {
  background: white;
  border-color: #959595;
}

.candidate:hover {
  cursor: pointer;
  border: 1px solid #c5c5c5;
  background: #f8f8f8;
}

.candidate .candidate-summary {
  align-self: center;
  padding: 10px;
  line-height: 20px;
}

.candidate .candidate-summary .top {
  font-weight: bold;
}

.candidate-img {
  width: 80px;
  border-radius: 40px;
  margin: 10px 8px 10px 16px;
  height: 80px;
  border: 2px solid #cccccc;
  align-self: center;
}

.candidate .keyword {
  border: 1px solid hsla(206, 79%, 43%, 1);
  border-radius: 3px;
  line-height: 30px;
  padding: 3px 9px;
  color: white;
  background: #2793e6;
  font-size: 12px;
  font-weight: bold;
  margin-right: 10px;
}
