.App .candidate-bio .splash {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #f4f4f4;
}

.splash .splash-header {
  display: flex;
  height: auto;
  flex: 0 0 140px;
  border-bottom: 1px solid #d1d1d1;
  background: hsl(0, 0%, 94.1%);
}

.splash .splash-header .content {
  width: 80%;
  max-width: 560px;
  align-self: center;
  margin: 0 auto;
}

.splash .splash-header h2 {
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 0px;
  color: #296b9f;
}

.splash .splash-header h1 {
  font-weight: normal;
  color: #2793e6;
  font-size: 24px;
  margin: 12px 0 0;
  font-weight: bold;
}

.splash .splash-header .wrapper {
  font-size: 20px;
  padding-top: 20px;
  padding-left: 20px;
  align-self: inherit;
  color: #377aae;
}

.splash .pitch {
  width: 80%;
  max-width: 560px;
  align-self: center;
  margin: auto auto;
  line-height: 30px;
  font-size: 20px;
  color: #717171;
}

.bullets {
  margin-top: 40px;
}

.splash .pitch .bullet {
  margin-top: 20px;
  display: flex;
}

.splash .pitch .bullet em {
  color: #2793e6;
  font-weight: bold;
  font-style: normal;
  width: 30px;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.splash .adjective {
  color: #ea2887;
  font-style: italic;
}

.splash .careers {
  color: #2793e6;
  font-weight: normal;
}

.splash .values {
  color: #2f2f2f;
  text-decoration: underline;
}

.splash .number {
  padding-right: 10px;
}

.splash .bullet strong {
  color: #626262;
}

a {
  color: #2793e6;
}
